body {
    background-color: white;
    margin: 0;
}
h1 {
    text-transform: uppercase;
    color: blue;
    text-shadow: 2px 2px 4px hsl(0, 2%, 45%);
}
p {
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
button {
    display: flex;
    margin: auto;
    background-color: hsl(120, 100%, 25%);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 4px hsl(0, 2%, 50%);
    transition: background-color 1s ease;
}
button:hover {
    background-color: hsl(120, 100%, 40%);
}