body {
    background-color: lightgrey;
    text-align: center;
}
.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    margin: auto;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 4px hsla(0, 2%, 49%, 0.756);
}
.container img {
    height: 250px;
    width: auto;
    border: none;
    border-radius: 5px;
}
.myh3 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3px;
}
.myp {
    font-size: 15px;
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
}
